<?xml version="1.0"?>
<TgConfig Version="3" SubLevelDisabled="False">
  <Option Name="ColorModellingOn" Type="System.Boolean" Value="True" Category="Diagram" SubCategory="UML in color" />
  <Option Name="Print.MarginLeft" Type="System.Single" Value="0.5" Category="Print" SubCategory="Margins (inch)" />
  <Option Name="Print.MarginRight" Type="System.Single" Value="0.5" Category="Print" SubCategory="Margins (inch)" />
  <Option Name="Print.MarginBottom" Type="System.Single" Value="0.5" Category="Print" SubCategory="Margins (inch)" />
  <Option Name="Print.MarginTop" Type="System.Single" Value="0.5" Category="Print" SubCategory="Margins (inch)" />
</TgConfig>