
/* OmniHelp CSS styles for ctrl elements, OHver 0.2 */


/* top panel and nav ctrl panel (center left) */

body.ctrl { background: #999 ; margin: 0 }


/* top panel only */

p.topbody { font: bold 12pt/12pt sans-serif }

table.topnav { vertical-align: middle; border-style: none }

td.topnav { font: bold 10pt/10pt  sans-serif;
margin: 0 ; text-align: center }

td.topnav :link, td.topnav :active, td.topnav :visited {color: blue; text-decoration: none}


/* nav ctrl panel only */

table.nav { vertical-align: middle; border-style: none;
padding: 2px; white-space: nowrap }

th.nav { font: 9pt/11pt sans-serif;
margin: 0 2pt ; background: silver }

th.navx { font: 9pt/11pt sans-serif;
margin: 0 2pt ; background: white }

td.navx { font: 10pt/12pt sans-serif;
margin: 0 2pt ; background: silver; white-space: normal }

td.navxsmall { font: 9pt/14pt sans-serif;
margin: 0 ; background: silver }

td.navxxsmall { font: 8pt/12pt sans-serif;
margin: 0 ; background: silver }

td.navxbtn { font: 9pt/9pt sans-serif;
margin: 0 ; text-align: center ; background: silver }

.tocbtn { font: 9pt/9pt sans-serif;
margin: 0 ; text-align: center ; background: silver }


/* nav panel (bottom left) */

body.nav { background: silver }

.body { font: 12pt/14pt bold sans-serif }

img.tcv { vertical-align: middle ; height: 20 ; border: none }

.tocv { font: 10pt/10pt sans-serif; width: 800 ; 
margin: 0 0 0 12pt ; text-indent: -12pt ; background: silver }

.tocvx { font: 10pt/10pt sans-serif; width: 800 ;
margin: 0 0 0 12pt ; text-indent: -12pt ; background: silver }

/* if span below fails, change .tocvx background above to white */

span.tcvx { background: white }

.tocld { font: bold 10pt/10pt sans-serif; width: 800 }

.toc1 { font: 10pt/12pt sans-serif;
margin: 0 0 0 12pt ; text-indent: -12pt ; background: silver }

.toc1x { font: 10pt/12pt sans-serif;
margin: 0 0 0 12pt ; text-indent: -12pt ; background: white }

.toc2 { font: 10pt/12pt sans-serif;
margin: 0 0 0 18pt ; text-indent: -12pt ; background: silver }

.toc2x { font: 10pt/12pt sans-serif;
margin: 0 0 0 18pt ; text-indent: -12pt ; background: white }

.toc3 { font: 10pt/12pt sans-serif;
margin: 0 0 0 24pt ; text-indent: -12pt ; background: silver }

.toc3x { font: 10pt/12pt sans-serif;
margin: 0 0 0 24pt ; text-indent: -12pt ; background: white }

.toc4 { font: 10pt/12pt sans-serif;
margin: 0 0 0 30pt ; text-indent: -12pt ; background: silver }

.toc4x { font: 10pt/12pt sans-serif;
margin: 0 0 0 30pt ; text-indent: -12pt ; background: white }

.toc5 { font: 10pt/12pt sans-serif;
margin: 0 0 0 36pt ; text-indent: -12pt ; background: silver }

.toc5x { font: 10pt/12pt sans-serif;
margin: 0 0 0 36pt ; text-indent: -12pt ; background: white }

.toc6 { font: 10pt/12pt sans-serif;
margin: 0 0 0 42pt ; text-indent: -12pt ; background: silver }

.toc6x { font: 10pt/12pt sans-serif;
margin: 0 0 0 42pt ; text-indent: -12pt ; background: white }

.toc7 { font: 10pt/12pt sans-serif;
margin: 0 0 0 48pt ; text-indent: -12pt ; background: silver }

.toc7x { font: 10pt/12pt sans-serif;
margin: 0 0 0 48pt ; text-indent: -12pt ; background: white }

.toc8 { font: 10pt/12pt sans-serif;
margin: 0 0 0 54pt ; text-indent: -12pt ; background: silver }

.toc8x { font: 10pt/12pt sans-serif;
margin: 0 0 0 54pt ; text-indent: -12pt ; background: white }

.toc9 { font: 10pt/12pt sans-serif;
margin: 0 0 0 60pt ; text-indent: -12pt ; background: silver }

.toc9x { font: 10pt/12pt sans-serif;
margin: 0 0 0 60pt ; text-indent: -12pt ; background: white }


.fts { font: 10pt/12pt sans-serif;
margin: 0 0 0 12pt ; text-indent: -12pt ; background: silver }


span.currix { background: white }

p.tocpt { font: 12px/12px sans-serif; 
margin: 0 0 0 0 ; background: white }

/* end of ohctrl.css */
